<?xml version="1.0" encoding="GB2312" ?>
<OVIT>
  <!--系统数据库配置，系统运行时首先读取配置文件中的信息，为了提高系统运行效率，
	系统在运行时将配置信息读取到内存中，配置更改需要重新启动系统才能生效-->
  <dataProviders>
    <!--<dataProvider name="SqlClient" connectionType="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			commandType="System.Data.SqlClient.SqlCommand, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			parameterType="System.Data.SqlClient.SqlParameter, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			parameterDbType="System.Data.SqlDbType, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			parameterDbTypeProperty="SqlDbType" dataAdapterType="System.Data.SqlClient.SqlDataAdapter, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			commandBuilderType="System.Data.SqlClient.SqlCommandBuilder, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			parameterNamePrefix="@" />
    <dataProvider name="OleDb" connectionType="System.Data.OleDb.OleDbConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			commandType="System.Data.OleDb.OleDbCommand, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			parameterType="System.Data.OleDb.OleDbParameter, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			parameterDbType="System.Data.OleDb.OleDbType, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			parameterDbTypeProperty="OleDbType" dataAdapterType="System.Data.OleDb.OleDbDataAdapter, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			commandBuilderType="System.Data.OleDb.OleDbCommandBuilder, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			parameterNamePrefix="@" />
    <dataProvider name="OracleClient" connectionType="Oracle.DataAccess.Client.OracleConnection, Oracle.DataAccess, Version=1.102.3.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			commandType="Oracle.DataAccess.Client.OracleCommand, Oracle.DataAccess, Version=1.102.3.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			parameterType="Oracle.DataAccess.Client.OracleParameter, Oracle.DataAccess, Version=1.102.3.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			parameterDbType="Oracle.DataAccess.Client.OracleType, Oracle.DataAccess, Version=1.102.3.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			parameterDbTypeProperty="OracleType" dataAdapterType="Oracle.DataAccess.Client.OracleDataAdapter, Oracle.DataAccess, Version=1.102.3.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			commandBuilderType="Oracle.DataAccess.Client.OracleCommandBuilder, Oracle.DataAccess, Version=1.102.3.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			parameterNamePrefix=":" />
    <dataProvider name="OracleClient" dllPath="Oracle.DataAccess.dll"
                  connectionType="Oracle.DataAccess.Client.OracleConnection"
			            commandType="Oracle.DataAccess.Client.OracleCommand"
			            parameterType="Oracle.DataAccess.Client.OracleParameter"
			            parameterDbType="Oracle.DataAccess.Client.OracleDbType"
			            parameterDbTypeProperty="OracleDbType" dataAdapterType="Oracle.DataAccess.Client.OracleDataAdapter"
			            commandBuilderType="Oracle.DataAccess.Client.OracleCommandBuilder"
			            parameterNamePrefix=":" />-->
    <dataProvider name="OracleClient" dllPath="Devart.Data.Oracle.dll"
                  connectionType="Devart.Data.Oracle.OracleConnection"
			            commandType="Devart.Data.Oracle.OracleCommand"
			            parameterType="Devart.Data.Oracle.OracleParameter"
			            parameterDbType="Devart.Data.Oracle.OracleType"
			            parameterDbTypeProperty="OracleDbType" dataAdapterType="Devart.Data.Oracle.OracleDataAdapter"
			            commandBuilderType="Devart.Data.Oracle.OracleCommandBuilder"
			            parameterNamePrefix=":" />
  </dataProviders>
  <dataSources sysdb="QJDC" targetdb="BDCDJ" predb="BDCDJ_PRE" hisdb="BDCDJ_HIS">
    <dataSource name="QJDC"   default="true" provider="OracleClient" connectionString="Data Source={datasource};Persist Security Info=True;User ID=QJDC;Password=sa" commandDir="" commandFileMask="OracleClient.DataSourceOracle.Commands.config" parameterNamePrefix=":" />
    <dataSource name="BDCDJ"   default="true" provider="OracleClient" connectionString="Data Source={datasource};Persist Security Info=True;User ID=SDE;Password=sa" commandDir="" commandFileMask="OracleClient.DataSourceOracle.Commands.config" parameterNamePrefix=":" />
    <dataSource name="BDCDJ_PRE"   default="true" provider="OracleClient" connectionString="Data Source={datasource};Persist Security Info=True;User ID=SDE_PRE;Password=sa" commandDir="" commandFileMask="OracleClient.DataSourceOracle.Commands.config" parameterNamePrefix=":" />
    <dataSource name="BDCDJ_HIS"   default="true" provider="OracleClient" connectionString="Data Source={datasource};Persist Security Info=True;User ID=SDE_HIS;Password=sa" commandDir="" commandFileMask="OracleClient.DataSourceOracle.Commands.config" parameterNamePrefix=":" />
  </dataSources>
  <transactionHandlers>
    <transactionHandler name="HomeGrown" default="true" handlerType="OVIT.Framework.DBEngineBase.TransactionHandling.HomeGrownTransactionHandler, Framework.DataAccess" />
    <transactionHandler name="SWC" handlerType="OVIT.Framework.DBEngineBase.TransactionHandling.SWCTransactionHandler, Framework.DataAccess" />
  </transactionHandlers>
</OVIT>