<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SystemName" value="{par_szdmc}不动产权籍调查管理系统"/>
    <add key="SystemName_En" value="Copyrights©2015 Wuhan Optics Valley Information Technologies Co.,Ltd" />
    <add key="SystemIcon" value="Images\SystemIcon/系统图标.ico"/>
    <add key="SystemLogo" value="Images\Login\logo.png" />
    <add key="ShareMdbPath" value="\\{gxml_ip}\成果目录"/>
    <add key="DefaultMapFile" value="MapData\{par_szdmc}不动产地图.mxd"/>
    <add key="PrintZDMapTemp" value="PrintMapTemp\{par_szdmc}宗地图模板.mxd"/>
    <add key="ApproveMap" value="MapData\不动产地图js.mxd"/>
    <add key="DefaultSpatialDB"  value="BDCDJ"/>
    <add key="DefaultDataSet" value="SDE.QJDC_GEO"/>
    <!--<add key="ftpServer" value="172.20.128.245;bdc;bdc" />-->
    <add key="ftpServer" value="{ftp_ip};{ftp_user};{ftp_user}" />
    <!--面积审核误差-->
    <add key="AreaTolerance" value="3"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HGWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.20.128.82:8080/Projects/HuangGang/WebService/HGWebService.asmx"
          binding="basicHttpBinding" bindingConfiguration="HGWebServiceSoap"
          contract="ServiceReference1.HGWebServiceSoap" name="HGWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
