<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--系统运行路径-->
    <add key="AppRunPath" value="{path_service}\" />
    <!--系统默认数据库-->
    <add key="DefaultDataBase" value="WEBAPPDB" />
  </appSettings>
</configuration>