<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
   <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
    <httpRuntime executionTimeout="9000" maxQueryStringLength = "12288" maxUrlLength="12288"  maxRequestLength="300000000" useFullyQualifiedRedirectUrl="false"/>

    <!--IIS 6.0配置-->
    <!--<httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="client.getscripts" type="OVIT.WebApp.Core.Handlers.Themes.ScriptHandler,OVIT.WebApp.Core" validate="false" />
      <add verb="*" path="client.gettheme" type="OVIT.WebApp.Core.Handlers.Themes.ThemeHandler,OVIT.WebApp.Core" validate="false" />
      <add verb="*" path="client.callback" type="OVIT.WebApp.Core.Handlers.Request.CallbackHandler,OVIT.WebApp.Core" validate="false" />
      <add verb="*" path="client.postback" type="OVIT.WebApp.Core.Handlers.Request.PostbackHandler,OVIT.WebApp.Core" validate="false" />
      <add verb="*" path="*.ashx" type="OVIT.WebApp.Grid.Web.DownLoadFile, OVIT.WebApp.Grid.Web" />
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <!--IIS 7.0配置 集成-->
    <handlers>
      <add name="getscripts" verb="*" path="client.getscripts" type="OVIT.WebApp.Core.Handlers.Themes.ScriptHandler,OVIT.WebApp.Core" />
      <add name="gettheme" verb="*" path="client.gettheme" type="OVIT.WebApp.Core.Handlers.Themes.ThemeHandler,OVIT.WebApp.Core" />
      <add name="callback" verb="*" path="client.callback" type="OVIT.WebApp.Core.Handlers.Request.CallbackHandler,OVIT.WebApp.Core" />
      <add name="postback" verb="*" path="client.postback" type="OVIT.WebApp.Core.Handlers.Request.PostbackHandler,OVIT.WebApp.Core" />
    </handlers>
<httpProtocol>
           <customHeaders>
           <add name="Access-Control-Allow-Origin" value="*" />
           <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE" />
           </customHeaders>
         </httpProtocol>
  </system.webServer>
  <appSettings>
    <!--默认打开登录页的方式Nagative(当前页直接跳转)|FullScreen(当前页全屏跳转)|Open(全屏打开登陆页并关闭本页)-->
    <add key="OpenMode" value="FullScreen" />
    <!--项目名称-->
    <add key="ProjectName" value="OVIT.WorkFlow.Web"/>
    <!--应用程序启动目录-->
    <add key="AppRunPath" value="{path_workflow}\bin\" />
    <!--程序默认应用的主题-->
    <add key="Theme" value="Default" />
    <!--登录页地址-->
    <add key="LoginUrl" value="http://{web_ip}:8024/Account/userTarget.html"/>
    <!--异常显示页-->
    <add key="ExceptionUrl" value="~/oException/viewException.html"/>
    <!--异常显示页-->
    <add key="FrameUrl" value="~/oSystem/Frame/Default/sysFrame.html"/>
    <!--程序默认应用的主题-->
    <add key="APPCODE" value="WEBAPP_0003" />
    <!--系统默认数据库-->
    <add key="DefaultDataBase" value="WORKFLOWDB"/>
  </appSettings>
</configuration>
