<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <!-- Set root logger level to ERROR and its appenders -->
    <root>
      <level value="ALL"/>
      <appender-ref ref="SysAppender"/>
    </root>

    <!-- Print only messages of level DEBUG or above in the packages -->
    <logger name="WebLogger">
      <level value="ALL"/>
    </logger>
    <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="Logger/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#xD;&#xA;----------------------header--------------------------&#xD;&#xA;" />
        <param name="Footer" value="&#xD;&#xA;----------------------footer--------------------------&#xD;&#xA;" />
      </layout>
    </appender>
  </log4net>

  <system.web>
    <customErrors mode="Off"/>
    <sessionState timeout="1440"></sessionState>
    <httpRuntime executionTimeout="90000" maxRequestLength="30000000" useFullyQualifiedRedirectUrl="false"/>
    <compilation debug="true" targetFramework="4.0" />
    <!--IIS 6.0配置-->
    <!--<httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="client.getscripts" type="OVIT.WebApp.Core.Handlers.Themes.ScriptHandler,OVIT.WebApp.Core" validate="false" />
      <add verb="*" path="client.gettheme" type="OVIT.WebApp.Core.Handlers.Themes.ThemeHandler,OVIT.WebApp.Core" validate="false" />
      <add verb="*" path="client.callback" type="OVIT.WebApp.Core.Handlers.Request.CallbackHandler,OVIT.WebApp.Core" validate="false" />
      <add verb="*" path="client.postback" type="OVIT.WebApp.Core.Handlers.Request.PostbackHandler,OVIT.WebApp.Core" validate="false" />
      <add verb="*" path="client.download" type="OVIT.WebApp.Core.Handlers.FileOper.DownloadHandler,OVIT.WebApp.Core" validate="false" />
      <add verb="*" path="client.upload" type="OVIT.WebApp.Core.Handlers.FileOper.UploadHandler,OVIT.WebApp.Core" validate="false" />
      <add verb="*" path="client.richtextupload" type="OVIT.WebApp.Core.Handlers.FileOper.RichTextUploadHandler,OVIT.WebApp.Core" validate="false" />
      <add verb="*" path="/wapi/*/*" type="OVIT.WebApp.Core.Handlers.WAPI.WAPIRouteEngine,OVIT.WebApp.Core" validate="false" />
      <add verb="*" path="/wapi/*/*/*" type="OVIT.WebApp.Core.Handlers.WAPI.WAPIRouteEngine,OVIT.WebApp.Core" validate="false" />
      <add verb="*" path="/wapi/*/*/*/*" type="OVIT.WebApp.Core.Handlers.WAPI.WAPIRouteEngine,OVIT.WebApp.Core" validate="false" />
      <add verb="*" path="/wapi/*/*/*/*/*" type="OVIT.WebApp.Core.Handlers.WAPI.WAPIRouteEngine,OVIT.WebApp.Core" validate="false" />
    </httpHandlers>-->
  </system.web>

  <system.webServer>
    <!--IIS 7.0配置 集成-->
    <handlers>
      <add name="getscripts" verb="*" path="client.getscripts" type="OVIT.WebApp.Core.Handlers.Themes.ScriptHandler,OVIT.WebApp.Core" />
      <add name="gettheme" verb="*" path="client.gettheme" type="OVIT.WebApp.Core.Handlers.Themes.ThemeHandler,OVIT.WebApp.Core" />
      <add name="callback" verb="*" path="client.callback" type="OVIT.WebApp.Core.Handlers.Request.CallbackHandler,OVIT.WebApp.Core" />
      <add name="postback" verb="*" path="client.postback" type="OVIT.WebApp.Core.Handlers.Request.PostbackHandler,OVIT.WebApp.Core" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <add value="Account/userTarget.html?FROM=WEBAPP_0002" />
      </files>
    </defaultDocument>
  </system.webServer>
  
  <appSettings>
    <!--默认打开登录页的方式Nagative(当前页直接跳转)|FullScreen(当前页全屏跳转)|Open(全屏打开登陆页并关闭本页)-->
    <add key="OpenMode" value="FullScreen" />
    <!--项目名称-->
    <add key="ProjectName" value="OVIT.WebApp.RealEstateRegister.Web"/>

    <!--应用程序启动目录-->

    <add key="AppRunPath" value="{path_bdc}\Bin\" />

    <!--程序默认应用的主题-->
    <add key="Theme" value="Default" />

    <!--登录页地址-->

    <!--登录页地址-->
    <add key="LoginUrl" value="http://{web_ip}:8024/Account/userTarget.html"/>
    <!--<add key="LoginUrl" value="http://172.20.128.245:8024/Account/userTarget.html"/>-->

    <!--框架页-->
    <add key="FrameUrl" value="~/oSystem/Frame/Default/sysFrame.html"/>
    <!--异常显示页-->
    <add key="ExceptionUrl" value="~/oException/viewException.html"/>

    <!--带图审批-->
    <add key="mapone_url" value="http://{web_ip}:2015/?APPCODE=MAPAPP_0020"/>

    <!--工作流网站地址-->
    <add key="workflow_url" value="http://{web_ip}:8028"/>
    <!--<add key="workflow_url" value="http://172.20.128.245:8028"/>-->

    <!--工作流移交路径-->
    <!--<add key="SubmitCaseUrl" value="/oWorkFlow/Dialogs/submitCase.html"/>-->
    <!--工作流移交路径(该配置不再使用)-->
    <!--<add key="WorkflowYJUrl_Web" value="/oWorkFlow/Dialogs/submitCase.html"/>-->
    <!--<add key="WorkflowYJUrl" value="/Common/WorkflowSubmit.aspx"/>-->
    <add key="WorkflowYJUrl" value="/oWorkFlow/Dialogs/submitCase.html" />

    <!--程序默认应用的主题-->
    <add key="APPCODE" value="WEBAPP_0002" />
    <!--系统默认数据库-->
    <add key="DefaultDataBase" value="BDCDJSPDB"/>
    <!--cookie有效日期（以天为单位）-->
    <add key="CookieValidDate" value="7"/>

    <!--上传总路径-->
    <add key="SaveBasePath" value="/Files/"/>
    <add key="article_MaxFileLength" value="30000000"/>
    <add key="article_Extn" value=".pdf|.doc|.docx|.ppt|.pptx|.wps|.jpg|.jpeg"/>


    
    <!--从业单位-->
    <add key="cxml_MaxFileLength" value="262144"/>
    <add key="cxml_Extn" value=".xls|.xlsx"/>

    <!--国标开关（如果为1，那么登簿忽略审批表，直接从权集调查组装登簿模型）-->
    <add key="GB_SWITCH" value="0"/>
    
    <!--异议书面材料送达地址-->
    <add key="SDDZ" value="{par_szdmc}国土资源局"/>
    <!--异议书面材料送达地址-->
    <add key="GGDW" value="{par_szdmc}国土资源局"/>

    <!--登记审批经办人-->
    <add key="DJSPJBR" value="张三丰"/>
    <!--登记审批经办人联系电话-->
    <add key="DJSPJBRDH" value="15927398888"/>
    <!--登记审批经办人投诉电话-->
    <add key="DJSPJBRTSDH" value="15927396666"/>

    <!--省市区简称-->
    <add key="SSQJC" value="{par_sjc}"/>
    <!--行政区名称-->
    <add key="XZQ" value="{par_szdmc}"/>
    <!--行政区代码-->
    <add key="XZQ_CODE" value="{par_szdxzbm}"/>
    <!--所在市简称-->
    <add key="SJC" value="{par_szdjc}"/>
    <!--所在市-->
    <add key="SQC" value="{par_szdmc}"/>

    <!--项目材料中附件资料上传的附件目录是否关联签收单【1：是，0：否】,说明：如果设置为1(是),则附件目录会依据签收单的必填项和已提交项来过滤其它不需要的目录-->
    <add key="ACCESSORY_CATALOG_RELATION_QSD" value="0" />

    <!--黄冈短信平台-->
    <!--短信开关【1：开启，0：关闭】-->
    <add key="SMS_SWITCH" value="0"/>
    <!--短信WebService地址-->
    <add key="SMS_WEB_SERVICE_URL" value="http://172.20.128.245:10086/SMSWebService.asmx"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IJurisdictionService" />
        <binding name="BasicHttpBinding_IJurisdictionService1" />
        <binding name="SMSWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://{wcf_ip}:{wcf_port}/JurisdictionService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJurisdictionService"
        contract="JurisdictionServiceProxy.IJurisdictionService" name="BasicHttpBinding_IJurisdictionService" />
      <endpoint address="http://{wcf_ip}:{wcf_port}/JurisdictionService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IJurisdictionService1"
        contract="JurisdictionServiceProxy.IJurisdictionService" name="BasicHttpBinding_IJurisdictionService1" />
      <endpoint address="http://172.20.128.245:10086/SMSWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SMSWebServiceSoap"
        contract="WebService.SMSWebServiceSoap" name="SMSWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
