<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--IIS 6.0配置-->
    <!--<httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="client.getscripts" type="OVIT.WebApp.Core.Handlers.Themes.ScriptHandler,OVIT.WebApp.Core" validate="false" />
      <add verb="*" path="client.gettheme" type="OVIT.WebApp.Core.Handlers.Themes.ThemeHandler,OVIT.WebApp.Core" validate="false" />
      <add verb="*" path="client.callback" type="OVIT.WebApp.Core.Handlers.Request.CallbackHandler,OVIT.WebApp.Core" validate="false" />
      <add verb="*" path="client.postback" type="OVIT.WebApp.Core.Handlers.Request.PostbackHandler,OVIT.WebApp.Core" validate="false" />
      <add verb="*" path="*.ashx" type="OVIT.WebApp.Grid.Web.DownLoadFile, OVIT.WebApp.Grid.Web" />
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <!--IIS 7.0配置 集成-->
    <handlers>
     <add name="getscripts" verb="*" path="client.getscripts" type="OVIT.WebApp.Core.Handlers.Themes.ScriptHandler,OVIT.WebApp.Core" />
      <add name="gettheme" verb="*" path="client.gettheme" type="OVIT.WebApp.Core.Handlers.Themes.ThemeHandler,OVIT.WebApp.Core" />
      <add name="callback" verb="*" path="client.callback" type="OVIT.WebApp.Core.Handlers.Request.CallbackHandler,OVIT.WebApp.Core" />
      <add name="postback" verb="*" path="client.postback" type="OVIT.WebApp.Core.Handlers.Request.PostbackHandler,OVIT.WebApp.Core" />
      <add name="download" verb="*" path="client.download" type="OVIT.WebApp.Core.Handlers.FileOper.DownloadHandler,OVIT.WebApp.Core" />
      <add name="upload" verb="*" path="client.upload" type="OVIT.WebApp.Core.Handlers.FileOper.UploadHandler,OVIT.WebApp.Core" />
      <add name="richtextupload" verb="*" path="client.richtextupload" type="OVIT.WebApp.Core.Handlers.FileOper.RichTextUploadHandler,OVIT.WebApp.Core" />
      <add name="wapi2" verb="*" path="/wapi/*/*" type="OVIT.WebApp.Core.Handlers.WAPI.WAPIRouteEngine,OVIT.WebApp.Core" />
      <add name="wapi3" verb="*" path="/wapi/*/*/*" type="OVIT.WebApp.Core.Handlers.WAPI.WAPIRouteEngine,OVIT.WebApp.Core" />
      <add name="wapi4" verb="*" path="/wapi/*/*/*/*" type="OVIT.WebApp.Core.Handlers.WAPI.WAPIRouteEngine,OVIT.WebApp.Core" />
      <add name="wapi5" verb="*" path="/wapi/*/*/*/*/*" type="OVIT.WebApp.Core.Handlers.WAPI.WAPIRouteEngine,OVIT.WebApp.Core" />
    </handlers>
  </system.webServer>
  <appSettings>
      <add key="OpenMode" value="FullScreen" />
    <!--项目名称-->
    <add key="ProjectName" value="OVIT.WebApp.HR.Web"/>
    <!--应用程序启动目录-->
    <add key="AppRunPath" value="{path_hr}\bin\" />
    <!--程序默认应用的主题-->
    <add key="Theme" value="Default" />
    <!--登录页地址-->
    <add key="LoginUrl" value="http://{web_ip}:8024/Account/userTarget.html"/>
    <!--框架页-->
    <add key="FrameUrl" value="~/oSystem/Frame/Default/sysFrame.html"/>
    <!--异常显示页-->
    <add key="ExceptionUrl" value="~/oException/viewException.html"/>
    <!--程序默认应用的主题-->
    <add key="APPCODE" value="WEBAPP_0004" />
    <!--系统默认数据库-->
    <add key="DefaultDataBase" value="HRDB"/>
  </appSettings>
</configuration>
